<div>
  <div class="header">
    <app-headshot id="headshot"></app-headshot>
    <h1 id="fullname">
      Ean Milligan
    </h1>
    <app-socials id="socials"></app-socials>
    <h2 id="slug">Software Engineer who specializes in <app-typer [skillList]="experiencedSkills"></app-typer></h2>
    <app-email id="email"></app-email>
  </div>
  <br/>
  <div class="page-body">
    <div class="column">
      <div>
        <h2>
          Work History
          <span class="pull-right">
            <span class="caret all" [ngClass]="expandAll ? 'collapse' : 'expand'" (click)="toggleExpanded()"></span>
          </span>
        </h2>
        <div>
          <app-company *ngFor="let company of workHistory" [company]="company" [projectsState]="expandAll  ? 'shown' : 'hidden'"></app-company>
        </div>
      </div>

      <div>
        <h2>Education</h2>
        <div>
          <app-education *ngFor="let edu of education" [education]="edu"></app-education>
        </div>
      </div>
    </div>
    <hr/>
    <div class="column">
      <div>
        <h2>Featured Open Source Projects</h2>
        <div>
          <app-project *ngFor="let project of osProjects" [project]="project"></app-project>
        </div>
      </div>

      <div>
        <h2>Skills</h2>
        <h3>Programming Languages</h3>
        <div>
          <app-skill *ngFor="let skill of getFilteredSkills('lang')" [skill]="skill"></app-skill>
        </div>
        <h3>JavaScript Frameworks/Runtimes</h3>
        <div>
          <app-skill *ngFor="let skill of getFilteredSkills('lib')" [skill]="skill"></app-skill>
        </div>
        <h3>Development Tools</h3>
        <div>
          <app-skill *ngFor="let skill of getFilteredSkills('tool')" [skill]="skill"></app-skill>
        </div>
        <h3>Operating Systems</h3>
        <div>
          <app-skill *ngFor="let skill of getFilteredSkills('os')" [skill]="skill"></app-skill>
        </div>
        <h3>Other</h3>
        <div>
          <app-skill *ngFor="let skill of getFilteredSkills('other')" [skill]="skill"></app-skill>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="footer">
    &copy; Ean Milligan - {{currentYear}}
  </div>
</div>