@import '../vars.scss';

.header {
	display: grid;
	margin-top: 0.5rem;
	grid-template-columns: 11.5rem auto 7.5rem;
	grid-template-rows: auto auto auto;
	grid-template-areas: "headshot fullname socials" "headshot slug slug" "headshot email email";
}

.footer {
	margin: 0.5rem;
	text-align: center;
}

#headshot {
	grid-area: headshot;
}

#fullname {
	grid-area: fullname;
}

#socials {
	grid-area: socials;
	align-self: center;
}

#slug {
	grid-area: slug;
}

#email {
	grid-area: email;
}

.page-body {
	display: flex;

	hr {
		border: none;
		border-left: 1px solid $fg-color-dk;
	}

	.column {
		width: 49%;
	}
}

@media screen and (max-width: 800px) {
	.page-body {
		flex-direction: column;

		hr {
			display: none;
		}

		.column {
			width: 100%;
		}
	}

	.header {
		grid-template-columns: 5.5rem auto 7.5rem;
		grid-template-areas: "headshot fullname fullname" "email email socials" "slug slug slug";
	}

	h1 {
		font-size: 3rem;
		margin-top: 1rem;
		margin-left: 0.5rem;
	}
}

@media screen and (max-width: 410px) {
	.header {
		grid-template-columns: 4.5rem auto 7.5rem;
	}

	h1 {
		font-size: 2rem;
		margin-top: 1rem;
	}
}
