<div class="bucket" [class.hover]="shouldHover" (mouseenter)="onHover(true)" (mouseleave)="onHover(false)">
	<div class="bucket-liner">
		<h3>
			<a *ngIf="project.url" [href]="project.url" target="_blank" rel="noopener">{{project.name}}</a>
			<span *ngIf="!project.url">{{project.name}}</span>
			<span *ngIf="project.startDate" class="start-date pull-right">{{project.startDate}}<span *ngIf="project.endDate"> - {{project.endDate}}</span></span>
		</h3>
		<ul>
			<li *ngFor="let detail of project.details">{{detail}}</li>
		</ul>
	</div>
</div>
