$bucket-size: 3px;

$bg-color-dk: rgb(9, 9, 9);
$bg-color: rgb(18, 18, 18);

$fg-color-dk: rgb(115, 115, 115);
$fg-color: rgb(255, 255, 255);

$highlight-color-dk: rgb(92, 6, 145);
$highlight-color: rgb(118, 4, 188);
$highlight-color-lt: rgb(159, 35, 236);
